<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant catalogue for you">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>KataRes</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>KataRes</h1>
      <img src="./logo-res.png" alt="Logo KataRes">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/halaman-utama">Home</a></li>
        <li><a href="#/daftar-favorit">Favorite</a></li>
        <li><a href="https://github.com/KhoyrurRoykhan">About Us</a></li>
      </ul>
    </nav>
  </header>
  <hero-bar></hero-bar>
  <main id="mainContent" tabindex="0"></main>
  <app-footer></app-footer>
</body>
</html>